<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Leaderboard API</title>
    <meta name="description" content="Shaun's software development portfolio.">
    <meta name="author" content="Shaun Colley">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    Home view
  </body>
</html>
